@font-face {
  font-family: 'Raleway-Black';
  src: url('../font/Raleway-Black/Raleway-Black.woff2') format('woff2'),
      url('../font/Raleway-Black/Raleway-Black.woff') format('woff'),
      url('../font/Raleway-Black/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../font/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
      url('../font/Raleway-Bold/Raleway-Bold.woff') format('woff'),
      url('../font/Raleway-Bold/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../font/Raleway-ExtraBold/Raleway-ExtraBold.woff2') format('woff2'),
      url('../font/Raleway-ExtraBold/Raleway-ExtraBold.woff') format('woff'),
      url('../font/Raleway-ExtraBold/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-LightItalic';
  src: url('../font/Raleway-LightItalic/Raleway-LightItalic.woff2') format('woff2'),
      url('../font/Raleway-LightItalic/Raleway-LightItalic.woff') format('woff'),
      url('../font/Raleway-LightItalic/Raleway-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../font/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
      url('../font/Raleway-Regular/Raleway-Regular.woff') format('woff'),
      url('../font/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
      font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../font/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
      url('../font/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
      url('../font/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 18px;
  width: 1920px;

}

.main-header {
  position: relative;
  min-height: 1080px;
  background-image: url(../img/block-1/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header::after {
  content: "";
  width: 45px;
  height: 67px;
  position: absolute;
  background-image: url(../img/block-1/mouse-icon.png);
  background-repeat: no-repeat;
  bottom: 85px;
  left: 50%;
  cursor: pointer;
}


.container {
  padding: 0;
  margin: 0 auto;
  width: 1535px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 117px;
}

.header-logo {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #ededed;
  cursor: pointer;
}

.header-page {
  display: flex;
  position: relative;
  margin-bottom: 382px;
}

.header-page-text {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-SemiBold';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #ededed;
  padding-right: 35px;
}

.header-page-sandwich {
  position: absolute;
  top: 3px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 0px;
}

.header-page-sandwich span {
  height: 0px;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  background:#fff;
}

.header-page-sandwich:hover span {
  border: 1.5px solid  red;
}

.first-line {
  top: 0px;
}

.two-line {
  top: 8px;
}

.three-line {
  top: 16px;
}

.block-title {
  text-align: right;
}

.block-title h2 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #ededed;
  margin-bottom: 29px;
}

.statement {
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 430px;
}

.statement-text {
  margin: 0;
  font-family: 'Raleway-Regular';
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.125em;
  color: #ededed;
}

.statement-autor {
  font-family: 'Raleway-Regular';
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.125em;
  color: #ededed;
}

.navigation {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 52px;
}

.navigation-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 82px;
}

.navigation-logo--color {
  color: #1c1c1c;
}

.navigation-list {
  list-style: none;
  display: flex;
}

.navigation-link {
  font-family: "Raleway-SemiBold";
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #3b3b3b;
  text-decoration: none;
}

.navigation-item:not(:last-child) {
  padding-right: 95px;
}

.navigation-link:hover {
  color: rgb(35, 138, 40);
}

/* --------------- about us  start--------------- */

.about-us {
  margin: 0 auto;
  text-align: center;
  width: 1345px;
  margin-bottom: 70px;
}

.head-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #1d1d1d;
  margin-bottom: 17px;
}

.head-text {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-SemiBold';
  font-weight: 600;
  letter-spacing: 0.125em;
  color: #3b3b3b;
  margin-bottom: 16px;
}

.first-secondary {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: 'Raleway-SemiBold';
  font-size: 14px;
  letter-spacing: 0.125em;
  color: #3b3b3b;
  margin-top: 21px;
}

/* --------------- about us  end--------------- */
/* --------------- statistics  start--------------- */

.statistics {
  width: 1920px;
  min-height: 457px;
  background-image: url(../img/block-3/background-color.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.statistics-container {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

.statistics-title--color {
  padding-top: 95px;
  color: #ededed;
}

.statistics-text {
  font-family: 'Raleway-SemiBold';
  letter-spacing: 0.125em;
  color: #ededed;
  margin-bottom: 80px;
}

.statistics-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.statistics-text--color {
  font-size: 18px;
  font-weight: 600;
  color: #ededed;
  margin-bottom: 80px;
}

.statistics-number {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-SemiBold';
  font-size: 72px;
  letter-spacing: 0.125em;
  color: #ededed;
  margin-bottom: 22px;
}

.statistics-number-text {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-SemiBold';
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ededed;
}

/* --------------- statistics  end--------------- */
/* --------------- products  start--------------- */

.products {
  min-height: 1054px;
}

.products-container {
  width: 1345px;
  margin: 0 auto;
  text-align: center;
}
  
.products-title--size {
  padding: 0;
  margin: 0;
  padding-top: 52px;
  margin-bottom: 18px;
}

.products-text--size {
  margin-bottom: 40px;
}

.product-inner {
  margin-bottom: 30px;
}

.product-color {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-SemiBold';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #3b3b3b;
  margin-bottom: 15px;
}

.product-price {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #3b3b3b;
  margin-bottom: 20px;
}

.product-more {
  font-family: 'Raleway-SemiBold';
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 0.125em;
  color: #3b3b3b;
}

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
/* --------------- products  end--------------- */
/* --------------- team  start--------------- */

.team {
  min-height: 530px;
  background-color: #ededed;
  text-align: center;
}

.team-container {
  width: 1187px;
  margin: 0 auto;
}

.team-title--size {
  padding-top: 51px;
}

.team-text--size {
  margin-bottom: 50px;
}

.team-member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-name {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #1e1e1e;
  padding-top: 34px;
  margin-bottom: 24px;
}

.team-prof {
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #1e1e1e;
}

/* --------------- team  end--------------- */
/* --------------- showcase  start--------------- */
.showcase {
  min-height: 710px;
}

.showcase-container {
  width: 1540px;
  margin: 0 auto;
  text-align: center;
}

.showcase-title--size {
  padding-top: 65px;
}

.showcase-text--size {
  margin-bottom: 53px;
}

.showcase-image {
  display: flex;
  flex-direction: row;
  margin-bottom: 66px;
}

.showcase-instagram {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #3b3b3b;
}

.showcase-instagram--link {
  text-decoration: underline;
  color: #1e1e1e;
}

/* --------------- showcase  end--------------- */
/* --------------- footer  start--------------- */

.footer {
  min-height: 656px;
  background-color: #1e1e1e;
}

.footer-container {
  width: 1345px;
  margin: 0 auto;
  text-align: center;
}

.footer-title--color {
  padding-top: 58px;
  color: #ededed;
  margin-bottom: 144px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
}

.quick-link h4 {
  padding: 0;
  margin: 0;
  font-family: 'Raleway-Black';
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #ededed;
  margin-bottom: 30px;
  text-align: left;
}

.quick-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.quick-link {
  font-family: 'Raleway-SemiBold';
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #ededed;
  text-decoration: none;
}

.quick-item:not(:last-child) {
  margin-bottom: 17px;
}

.social {
  text-align: left;
}

.social a:not(:last-child){
  padding-right: 10px;
}

.iframe {
  opacity: 0.5;
}

.iframe:hover {
  opacity: 1;
}