@font-face {
    font-family: 'Raleway';
    src: url('Raleway-LightItalic.woff2') format('woff2'),
        url('Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

